<nav>
  <div id="header">
    <div id="site-title">
      <a href="/"><h1>Febriadj Site</h1></a>
    </div>
    <div id="menu">
      <a href="/">Blogs</a>
      <a href="/about">About</a>
      <a href="/blogs/create">Create Blog</a>
    </div>
  </div>
</nav>