<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/partials.css">
  <title>Febriadj | <%= title %></title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <div id="form-create">
    <form action="/blogs" method="post">
      <input type="text" name="title" placeholder="Title"/>
      <input type="text" name="desc" placeholder="Description"/>
      <button type="submit">Create</button>
    </form>
  </section>
  <%- include ('./partials/footer.ejs') %>
</body>
</html>